/* Style général de la page */
@import url('https://fonts.googleapis.com/css2?family=Prata&display=swap');

.body-menu {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    margin: 0;
    padding: 0;
}

/* Style de l'en-tête */
.header-menu {
    background-color: lightgray;
    color: black;
    padding: 20px 0;
    text-align: center;
}

/* Style du logo */
.logo {
    display: inline-block;
    /* Ajoutez des styles spécifiques pour votre logo ici */
}

/* Style du menu */
.nav-menu ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.nav-menu ul li {
    display: inline;
    margin-right: 20px;
}

.nav-menu ul li a {
    font-size: 1.5em;
    font-family: "Prata", sans-serif;
    color: black;
    text-decoration: none;
    font-weight: bold;
}

.nav-menu ul li a:hover {
    text-decoration: underline;

}

/* Style du contenu principal */
.content {
    padding: 20px;
    background-color: white;
    margin-top: 20px;
}

.expand-on-hover:hover {
    transform: scale(1.2); /* ou tout autre facteur d'agrandissement souhaité */
}

/* Autres styles spécifiques à vos besoins */


