/*Page d'accueil*/
@import url('https://fonts.googleapis.com/css2?family=Prata&display=swap');


.h1-index{
    
    font-family: "Prata", sans-serif;
    display: flex;
    justify-content: center;
}

.body-index {
    display: flex;
    height: 100vh;
    font-family: "Prata", sans-serif;
    background-color: #f4f4f4;
    padding: 20px;
}


.image-index{
    margin-left: 25em;
    width: 50%;
    height: 75vh;
    border: 2px solid;
}

.image-index img{
    width: 100%;
    height: 100%;
}


/* Formulaire saisir-consultation*/

.form-saisir-consultation{
    margin-top: 50px;
    display: grid;
    gap: 10px;
    background-color: #fff;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 50px rgba(0, 0, 0, 0.1);
}

.form-saisir-consultation div {
    display: grid;
    gap: 10px;
    grid-template-columns: 1fr 3fr;
    align-items: center;
}


input[type="submit"] {
    background-color: #4CAF50;
    color: white;
    cursor: pointer;
}

input[type="submit"]:hover {
    background-color: #45a049;
}

.btnsubmit{
    display: flex;
    justify-content: center;
    padding: 10px;
}

.btn-submit-saisirconsultation{
    display: flex;
    justify-content: center;
}



/*Afficher usager*/

.btn-ajouter-usager{
    font-size: 20px;
}

.div-btn-ajouter-usager{
    padding: 1em;
    display: flex;
    justify-content: center;
}


/*Autres*/


table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
}

table, th, td {
    border: 1px solid #ddd;
    padding: 8px;
    text-align: left;
}

th {
    background-color: #f0f0f0;
}

tr:nth-child(even) {
    background-color: #f2f2f2;
}

tr:hover {
    background-color: #ddd;
}

a {
    color: #007bff;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

.test{
    display: flex;
}


