RewriteEngine On

# Réécriture pour l'API medecins
RewriteRule ^app/medecins$ medecinsapi/index.php [NC,L]
RewriteRule ^app/medecins/([0-9]+)$ medecinsapi/index.php?id=$1 [NC,L]

# Réécriture pour l'API usagers
RewriteRule ^app/usagers$ usagersapi/index.php [NC,L]
RewriteRule ^app/usagers/([0-9]+)$ usagersapi/index.php?id=$1 [NC,L]

# Réécriture pour l'API consultations
RewriteRule ^app/consultations$ consultationsapi/index.php [NC,L]
RewriteRule ^app/consultations/([0-9]+)$ consultationsapi/index.php?id=$1 [NC,L]
RewriteRule ^app/consultations/medecin/([0-9]+)$ consultationsapi/index.php?id_medecin=$1 [NC,L]

# Réécriture pour l'API stats
RewriteRule ^app/stats/medecins$ statistiquesapi/index.php?type=medecins [NC,L]
RewriteRule ^app/stats/usagers$ statistiquesapi/index.php?type=usagers [NC,L]

# Réécriture pour l'API auth
RewriteRule ^auth$ authapi/index.php [NC,L]