/* Style de la page de connexion */
body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}

form {
    background-color: white;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.2);
    width: 300px;
}

h2 {
    text-align: center;
    color: #333;
}

form input[type="text"],
form input[type="password"] {
    width: 100%;
    padding: 10px;
    margin-bottom: 20px;
    border: 1px solid #ddd;
    border-radius: 5px;
    box-sizing: border-box;
}

form input[type="submit"] {
    width: 100%;
    padding: 10px;
    background-color: lightblue;
    color: gray;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
}

form input[type="submit"]:hover {
    background-color: lightblue;
}

/* Message d'erreur */
.error-message {
    color: red;
    margin-bottom: 15px;
    text-align: center;
}

.login-container {
    /* Styles existants */
    text-align: center; /* Centre tout le contenu à l'intérieur de login-container */
}

.login-container h2 {
    /* Styles existants */
    margin-bottom: 20px; /* Ajustez selon les besoins */
}
