<!-- menu.html -->
<header class="header-menu">
<nav class="nav-menu">
    <ul>
        <li><a href="https://soltanhamadouche.alwaysdata.net/accueil">Accueil</a></li>
        <li><a href="https://soltanhamadouche.alwaysdata.net/usagers">Usagers</a></li>
        <li><a href="https://soltanhamadouche.alwaysdata.net/medecins">Médecins</a></li>
        <li><a href="https://soltanhamadouche.alwaysdata.net/consultations">Consultations</a></li>
        <li><a href="https://soltanhamadouche.alwaysdata.net/statistiques">Statistiques</a></li>
        <li><a href="https://soltanhamadouche.alwaysdata.net/documentations">Documentations</a></li>
        <li><a href onclick="logout()">Se déconnecter</a></li>
    </ul>
</nav>
</header>